* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
    background: url(13.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--var-theme);
  background: url(13.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  width: 500px;
  height: 105px;
  background: #fff;
  padding: 28px;
  overflow: hidden;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  transition: .6s ease-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  color: #06283D;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  padding-left: 32px;
}

.search-box input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #06283D;
  
}

.search-box button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: var(--var-theme);
  background: #b0d9e9;
  border-radius: 50%;
  font-size: 22px;
  transition: .4s ease;
}

.search-box button:hover {
  color: #fff;
  background: #06283Ddc;
}

.search-box i {
  position: absolute;
  color: var(--var-theme);
  font-size: 28px;
}

.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}

.not-found img {
  width: 70%;
}

.not-found p {
  color: #06283Ddc;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.fadeIn {
  animation: .5s fadeIn forwards;
  animation-delay: .5s;
}

.scrollable {
  max-height: 200px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 20px;
}


@keyframes fadeIn {
  to {
      scale: 1;
      opacity: 1;
  }
}
